/*FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Cinzel+Decorative:wght@400;700;900&family=Gruppo&family=Henny+Penny&family=Herr+Von+Muellerhoff&family=Kdam+Thmor+Pro&family=Marck+Script&family=Sacramento&family=Smooch+Sans:wght@100;200;300;400;500;600;700;800;900&family=Syncopate&family=Tangerine:wght@400;700&family=Unica+One&family=Vina+Sans&display=swap');
/*Geimporteerde Fonts: 
font-family: 'Cinzel Decorative', serif;
font-family: 'Gruppo', sans-serif;
font-family: 'Herr Von Muellerhoff', cursive;
font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Marck Script', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Smooch Sans', sans-serif;
font-family: 'Syncopate', sans-serif;
font-family: 'Tangerine', cursive;
font-family: 'Unica One', sans-serif;
font-family: 'Vina Sans', sans-serif;
*/
/* optie 2 zwart/goud kleurrenpalette 
donkerzwart         #0f0f0f
donkergrijs         #292929
grijs               #424242
goud                #CBB26A
goud 2              #be9e44
licht goud          #d8c690
*/

:root{
    --donkerzwart: #0f0f0f;
    --donkergrijs: #292929;
    --grijs: #424242;
    --goud: #CBB26A;
    --goud2: #be9e44;
    --lichtgoud:#d8c690;
    --txt:#e8e4d7;
}
/* ~~~~~~~~~~~~~~~ Universal styles ~~~~~~~~~~~~~~~ */
*{
    padding: 0px;
    margin: 0px;
}
.text-color{
    color: var(--txt);
    font-family: 'Kdam Thmor Pro', sans-serif;
    letter-spacing: 1px;
}
.txt-align-center{
    text-align: center;
}
.txt-align-left{
    text-align: left;
}
.mt30{
    /* mt staat voor margin top */
    margin-top: 30px;
}
body{
    background: var(--donkerzwart);
}
.btn-style{
    background: -webkit-linear-gradient(var(--lichtgoud), var(--goud),var(--goud2));
    padding: 9px 15px;
    border-radius: 6px;
    font-weight: 700;
    color: var(--donkerzwart);
    letter-spacing: 1px;
    margin: 15px 0;
    cursor: pointer;
}
.btn-style:hover{
    background:-webkit-linear-gradient(var(--goud2), var(--lichtgoud),var(--goud));
}
.link-text{
    color: var(--goud2)
}
.transparent-btn{
    background: none;
    border: none;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~ Logo's ,icon, brand things ~~~~~~~~~~~~~~~~~~~~~ */
.username-label{
    color: var(--goud);
    background: -webkit-linear-gradient(var(--goud2), var(--lichtgoud),var(--goud));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Cinzel Decorative', serif;
    font-size: 24px;
    margin: 5px 18px;
}
.burger-menu-btn{
    width: 40px;
    cursor: pointer;
    margin: 5px 10px;
}
.medium-logo{
    width: 50px;
}
.brand-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
}
.brand-text{
    color: var(--goud);
    background: -webkit-linear-gradient(var(--lichtgoud), var(--goud),var(--goud2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Cinzel Decorative', serif;
    font-size: 36px;
    font-weight: 500;
    margin: 0 18px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~ NAV BAR ~~~~~~~~~~~~~~~~~~~~~~~~ */
.nav-bar > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--grijs);
    border-bottom: 1px solid var(--grijs);
}
.nav-bar > ul > li,
.nav-bar > ul > li > a  {
    color: white;
    list-style-type: none;
    text-decoration: none;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~ menu canvas ~~~~~~~~~~~~~~~~~~~~~~~~ */
.menu-canvas{
    background: linear-gradient(var(--donkerzwart),var(--donkergrijs),var(--grijs)); 
    display: none;
    position: sticky;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.menu-canvas-item{
    cursor: pointer;
    border: 2px solid var(--grijs);
    height: 13.3vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: var(--goud2);
}
.nav-url{
    color: var(--goud2);
    text-decoration: none;
}
/* ~~~~~~~~~~~~~~~~~ Login and sign up Page ~~~~~~~~~~~~~~~~~ */
.login{
    margin: auto;
    margin-top: 10vh;
    height: 80vh;
    width: 80vw;
    border-radius: 15px;
    overflow: hidden;
    background: var(--donkerzwart);
    box-shadow: 4px 0 4px var(--goud), -4px 0 4px var(--lichtgoud);
}
.login > p{
    color: white;
    text-align: center;
}
.login > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.form-field{
    height: 45px;
    width: 85%;
    border-radius: 6px;
    background: var(--donkergrijs);
    color: white;
    padding: 3px;
    margin: 15px 0px;
}
.register-error,.err-msg{
    min-height: 50px;
    text-align: center;
}
.register-error >ul >li{
    color: white;
}
/* ~~~~~~~~~~~~~~~~~ Index Page ~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~ Profile Page ~~~~~~~~~~~~~~~~~ */
.profile-page{
    display: flex;
    flex-direction: column;
    padding: 21px 0;
    background: linear-gradient(var(--donkergrijs),var(--grijs))
}
.profile-img-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.profile-img{
    height: auto;
    width: 80%;
    border-radius: 20px;
}
.profile-info{
    padding: 21px 21px;
}
.profile-info > p{
    margin: 12px 0;
}
.profile-page > .wrapper{
    padding: 0 12px;
    display: flex;
    justify-content: flex-end;
}
.about_me{
    white-space: pre-line;
}
.inner-wrapper{
    display:flex;
    justify-content: space-evenly;
}
.profile-section-title{
    font-size: 24px;
}
/* ~~~~~~~~~~~~~~~~~ Edit Profile Page ~~~~~~~~~~~~~~~~~ */
.edit-profile-page{
    background: linear-gradient(var(--donkergrijs), var(--grijs));
    min-height: 82vh;
}
.edit-profile-page > form{
    display: flex;
    flex-direction: column;
}
.edit-profile-page > form > input , select{
    height: 30px;
}

/* ~~~~~~~~~~~~~~~~~~~ Matches Page ~~~~~~~~~~~~~~~~~~~ */