{% extends "layout.html" %}
{% load static %}


{% block main %}
{% include 'menucanvas.html' %}
    <div class="main-content">
        <p class="text-color txt-align-center"> Chat with <span class="brand-text">{{match}}</span></p>
        <div class="chat-head">
            {% if has_picture %}
                <img src="{{ match_profile.user_foto.url }}" alt="profile photo of {{ match }}" class="profile-img-small" id="match-foto" draggable="false">
            {% else %}
            <img src="{% static 'img/user.png' %}" alt="No profile photo available" class="profile-img-small">
            {% endif %}
        </div>
        <form method="POST" action="{% url 'send_chat' %}" class="chat-send-msg">
            {% csrf_token %}
            <input type="hidden" name="sender" value="{{sender}}">
            <input type="hidden" name="receiver" value="{{receiver}}">
            <textarea name="message"></textarea>
            <input type="submit" name="send-chat" value="send" class="btn-style">
        </form>
        <ul class="chat-box" id="chat-box">
            {%for msg in messages %}
                <li class="text-color chat-msg">
                    <p class="chat-topline">
                        <span class="chat-username brand-text">{{ msg.chat.sender.username }}</span> 
                        <span class="text-color">{{ msg.timestamp }}<span>
                    </p>
                    <p class="chat-txt">{{ msg.message }}</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}