{% extends "layout.html" %}
{% load static %}

{% block main %}
{% include 'menucanvas.html' %}
    <div class="main-content">
        <div class="base-container create-profile-page edit-profile-page">
            <form method="POST" action="" class="text-color">
                {% csrf_token %}
                {{user}}
                <input type="hidden" name="profile_owner" value="{{user.id}}"> 
                <label>Age</label>
                {{create_form.age}}
                <label>Country</label>
                {{create_form.country}}
                <label>City</label>
                {{create_form.city}}
                <label>I am a:</label>
                {{create_form.gender}}
                <label>Looking for a:</label>
                {{create_form.looking_for_gender}}
                <label>About me</label>
                {{create_form.about_me}}
                <label>Upload Profile Foto</label>
                <input type="file" id="img" name="user_foto" accept="image/*">
                <input type="submit" value="Save profile" class="btn-style">
                Lets make a profile!
            </form>
        </div>
    </div>
{% endblock %}