{% extends "layout.html" %}
{% load static %}


{% block main %}
{% include 'menucanvas.html' %}
    <div class="main-content">
        <h1 class="brand-text txt-align-center intro-quote">Welcome to BlindDate - Where love really is blind!</h1>
            <h2 class="brand-text">How it Works:</h2>
                <ol class="text-color how-it-works">
                    <li> 
                        <h3>Create Your Story:</h3>
                            <p>Build a connection beyond the surface. Instead of swiping based on profile pictures, express yourself through words. Craft a profile that truly reflects who you are, your interests, and what you're looking for in a meaningful connection.</p>
                    </li>
                    <li>
                        <h3>Find Love Through Text:</h3>
                        <p>Navigate to the "Find Love" page and explore profiles by swiping through captivating texts. Get to know someone's personality, passions, and wit before diving into the visuals. It's a unique journey where words pave the way for genuine connections.</p>
                    </li>
                    <li>
                        <h3>Matches Made in Textual Heaven</h3>
                        <p>Discover who shares your vibe by checking out your "Matches" page. When interests align, sparks fly. This is not just a list but a gateway to potential connections. Tap into the excitement of finding someone who resonates with your story.</p>
                    </li>
                    <li>
                        <h3>Dive into Conversations:</h3>
                        <p>Your journey doesn't end with a match; it's just beginning. As you start chatting, watch the magic unfold. Messages reveal profile pictures gradually, creating an immersive and suspenseful experience. Build connections one word at a time.</p>
                    </li>
                </ol>
            <h2 class="text-color brand-text">Your Personal Space:</h2>
            <ul class="text-color your-personal-space">
                <li>
                    <h3>My Profile:</h3>
                    <p>Curate your narrative on the "My Profile" page. Showcase your personality, update details, and let your story evolve. This is where connections start, and you're in control of how you present yourself.</p>
                </li>
                <li>
                    <h3>Find Love:</h3>
                    <p>Swipe, match, and discover connections that go beyond the superficial. Embrace the power of words as you embark on a journey to find love through meaningful conversations.</p>
                </li>
                <li>
                    <h3>Matches:</h3>
                    <p>See who swiped right on your profile. Explore potential connections, dive into conversations, and let the chemistry unfold. Your Matches page is the gateway to exciting new possibilities.</p>
                </li>
            <ul>
                <h3 class="brand-text">Get started and let the adventure begin!</h3>
        </div>
{% endblock %}
