{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blind Date</title>
        <link href="{% static 'stylesheets/styles.css' %}" rel="stylesheet">
        <script src="{% static 'scripts/main.js' %}" defer></script>
    </head>

    <body>
        <input type="hidden" id="logged_in_username" value="{{user.username}}">
        <input type="hidden" id="logged_in_id" value="{{user.id}}">
            {% if user.is_authenticated %}
            <header> 
                <div class="brand-container mt30">
                    <img src="{% static 'img/heart_logo.png' %}" alt="logo" class="medium-logo">
                    <p class="brand-text"> Blind Date </p>
                </div>
            </header>
            <nav class="nav-bar">
                <ul>
                    <li class="username-label">
                        {{user.username}}
                    </li>
                    <li>
                        <img src="{%static 'img/menu.png' %}" alt="menu-selection" class="burger-menu-btn" id="menu-btn">
                    </li>
                </ul>
            </nav>
            {% endif %} 

        <main class="main-page-content">
            {% block main %}
            {% endblock %}
        </main>
             {% block signup %}
             {% endblock %}

    </body>
    </html>

