{% extends "layout.html" %}
{% load static %}

{% block main %}
{% include 'menucanvas.html' %}
    <div class="profile-page">
        <div class="wrapper">
            <a href="{% url 'edit_profile' %}">
                <img src="{% static 'img/edit.png' %}" class="medium-logo">
            </a>
        </div>
        <p class="txt-align-center brand-text">{{profile.profile_owner}}</p>
        <div class="profile-img-wrapper">
            <img src="{{profile.user_foto.url}}" alt="profile foto of {{profile}}" class="profile-img">
        </div>
        <div class="profile-info text-color">
            <p class="txt-align-center">{{profile.age}} years</p>
            <p class="txt-align-center">{{profile.city}}, {{profile.country}}</p>
            <p class="txt-align-left">{{profile.about_me}}</p>            
        </div>
    </div>
{% endblock %}
